.button{
    padding: 0;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
}

.span{
    background-color: #f1f5f8;
    display: block;
    padding: 0.5 rem, 1rem;
    border-radius: 5px;
    border: 2px solid hsl(hue, saturation, lightness);
    
}